.convograph {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
}

#tooltip {
  position: absolute;
  z-index: 100;
  display: none;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  min-width: 100px;
}

#tooltip-title {
  font-weight: bold;
}

#tooltip-text {
  font-size: 0.8em;
}

g.node > circle {
  fill: white;
  stroke: black;
  stroke-width: 1px;
}

g.node > text {
  font-size: 0.8em;
  font-weight: bold;
  text-anchor: middle;
}

g.node:hover > circle{
  fill: lightblue;
}

g.node > text:hover {
  cursor: default;
}

g.node > circle[id="node__start"] {
  fill: #50C878; /* Emerald Green */
}

g.node > circle[id="node__stop"] {
  fill: #FF0000; /* Red */
}

g.node > circle[id="node__start"]:hover {
  fill: lightgreen;
}

g.node > circle[id="node__stop"]:hover {
  fill: #FF7A7A; /* Light Red */
}

.curved-path {
    fill: none;
    stroke: black;
    stroke-width: 3px;
}

.curved-path-arrow {
  fill: black;
  stroke: black;
  stroke-width: 2px;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 3px;
}

.line-arrow {
    fill: black;
    stroke: black;
    stroke-width: 2px;
}
