{% extends "convoscript/base.html" %}

{% block form-content %} 

{% for i in data %}

<form
  method="post"
  enctype="multipart/form-data"
  action="{% url 'convoscript_check' %}"
>
  {% csrf_token %}
  <input type="submit" name="button" value="Prev state" />
  <center>
    <h3><font size="+4">State</font></h3>

    <label for="sname"><font size="+2">State name:</font></label>
    <input
      type="text"
      id="sname"
      name="sname"
      value="{{ statename }}"
      {{statenamereadonly}}
    /><br /><br />

    <label for="sname"><font size="+2">Bot statement:</font></label>
    <textarea id="bstatement" name="botstatement" rows="5" style="width: 100%">
{{ botstatement }}</textarea
    >
    <br /><br />

    <label for="triggerstate"
      ><font size="+2">Currently viewing statement:</font></label
    >

    <select
      onchange="this.form.submit()"
      name="userstatement_dropdown"
      id="cars"
    >
      {% for statement in userstatements %}
      <option value="{{ statement }}">
        <font size="+2">{{ statement }}</font>
      </option>
      {% endfor %}

      <option value="new">
        <font size="+2">+ Add new User statement</font>
      </option>
    </select>

    <br />
    <label for="triggertext"><font size="+2">User statement:</font></label>
    <input
      type="text"
      id="triggertext"
      name="userstatement"
      value="{{ userstatement }}"
    /><br /><br />
    <label for="triggerstate"><font size="+2">Is a button? :</font></label>
    <input
      type="checkbox"
      id="yesornocheckbox"
      name="yesorno"
      value="checked"
      {{
      isabutton
      }}
    />
    <br /><br />
    <label for="triggerstate"
      ><font size="+2">Next state(Triggered state):</font></label
    >
    <select name="nextstate" id="nextstates">
      {% for state in states %}
      <option value="{{ state }}"><font size="+2">"{{ state }}"</font></option>
      {% endfor %}
    </select>
    <br /><label for="sname"><font size="+2">New state name:</font></label>
    <input type="text" id="newstatename" name="newstatename" />
    <input type="submit" name="button" value="Add" /><br /><br />
  </center>
  <input type="submit" name="button" value="Next state" style="float: right" />
  <br />
</form>

{% endfor %} 
{% endblock form-content %} 

{% load static %} 
{% block convograph %}
<script src="{% static 'convograph/convograph.js' %}" type="module"></script>
{% endblock convograph %} 