{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block extrastyles %}
<link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css">
<script src="https://unpkg.com/js-datepicker"></script>
<link rel="stylesheet" type="text/css" href="{% static 'quizbot/css/bothub.css' %}">
<script type="module" src="{% static 'quizbot/js/utils.js' %}"></script>
<script type="module" src="{% static 'quizbot/js/bothub.js' %}"></script>
{% endblock %}

{% block content %}
<div style="width: 90%; margin: auto; margin-bottom: 30px;">
    <h1>ConvoHub</h1>
    <p>Check out what others in the community made </p>
</div>
<div style="width: 90%; margin: auto;">
    <div id="search-filter-convos">
        <div id="search-form">
            <input type="text" class="textbox" id="search_field" name="search" placeholder="Search">
            <input title="Search" type="image" id="search_button" class="button"
                src="https://img.icons8.com/ios/50/google-web-search.png" alt="google-web-search" />
        </div>
        <div id="filters">
            <button id="filter-button" class="button">Filter</button>
            <div id="filter-container" class="filters hidden">
                <ul class="filters__list">
                    <li>
                        <form method="get">
                            <label for="name-query-string">By name</label>
                            <input data-group="filter-field" type="search" id="name-query-string" name="name" />
                            <div class="controls">
                                <input type="button" class="button filter-apply" value="{% translate 'Search' %}">
                                <input type="button" class="button filter-reset" value="{% translate 'Reset' %}">
                            </div>
                        </form>
                    </li>
                    <li>
                        <form method="get">
                            <label for="name-query-string">By description</label>
                            <input data-group="filter-field" type="search" id="description-query-string"
                                name="description" />
                            <div class="controls">
                                <input type="button" class="button filter-apply" value="{% translate 'Search' %}">
                                <input type="button" class="button filter-reset" value="{% translate 'Reset' %}">
                            </div>
                        </form>
                    </li>
                    <li>
                        <form method="get">
                            <label for="name-query-string">By last activation time</label>
                            <input data-group="filter-field" type="text" id="start-date" name="start_date" />
                            <p style="display: inline-block;">to</p>
                            <input data-group="filter-field" type="text" id="end-date" name="end_date" />
                            <div class="controls">
                                <input type="button" class="button filter-apply" value="{% translate 'Search' %}">
                                <input type="button" class="button filter-reset" value="{% translate 'Reset' %}">
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <div id="actions">
            <select id="action">
                <option value="no_value">---------</option>
                <script>
                    let actionSelectElement = document.getElementById("action");
                    // comming from users/static/users/backed_endpoints.js
                    for (const endpointAssets of Object.values(endpoints)) {
                        let applicability = endpointAssets["applicability"];
                        if (applicability == "public list") {
                            actionSelectElement.innerHTML +=
                                `<option endpoint="${endpointAssets["endpoint"]}" httpMethod="${endpointAssets["http_method"]}">${endpointAssets["action_title"]}</option>`;
                        }
                    }
                </script>
            </select>
        </div>
    </div>
    <p class="convo-view-inscription">Public convos</p>
    <div id="convo-view">
        <div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div style="display: inline-block;">
                        <input type="hidden" name="id">
                    </div>
                    <div class="checkbox-col">
                        <input type="checkbox" id="main-checkbox">
                    </div>
                    <div class="custom-col-2">
                        <span>Name</span>
                    </div>
                    <div class="custom-col-2">
                        <span>Description</span>
                    </div>
                    <div class="custom-col-2">
                        <span>Published By</span>
                    </div>
                    <div class="custom-col-3">
                        <span>Path</span>
                    </div>
                    <div class="custom-col-2">
                        <span>Created</span>
                    </div>
                    <div class="custom-col-2">
                    </div>
                </li>
            </ul>
        </div>
        <div class="convo-view">
            <ul class="list-group" id="convo-list">
            </ul>
        </div>
    </div>
    {% endblock %}