{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block qary %}
{% include 'users/polyface.html' %}
{% endblock qary %}

{% block content %}
<div class="container">
    <h1>Name: {{ convo_name }}</h1>
    <h1>Description: {{ convo_description }}</h1>
</div>
{% endblock %}