<!DOCTYPE html>

{% load static %}

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% block qary %}{% endblock %}

    {% if title %}
    <title> Prosocial Open Source Chatbot Framework | {{ title }} </title>
    {% else %}
    <title> Prosocial Open Source Chatbot Framework | qary </title>
    {% endif %}

    <link rel="icon" href="{% static 'users/qary-favicons/qary-7.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    {% block extrastyles %}{% endblock %}
</head>

<!-- Definition of api endpoints as variables (eliminates hard coding) -->
<script>
    let endpoints = {
        "get_logged_in_user":
        {
            "endpoint": "{% url 'authenticated-user' %}",
            "http_method": "GET"
        },
        "get_convo_list": {
            "endpoint": "{% url 'convo-list' %}",
            "http_method": "GET"
        },
        "search_convos": {
            "endpoint": "{% url 'search-convos' %}",
            "http_method": "GET"
        },
        "filter_convos": {
            "endpoint": "{% url 'filter-convos' %}",
            "http_method": "GET"
        },
        "make_convos_public": {
            "endpoint": "{% url 'make-convos-public-action' %}",
            "http_method": "PUT",
            "action_title": "Make public",
            "applicability": "private list"
        },
        "make_convos_private": {
            "endpoint": "{% url 'make-convos-private-action' %}",
            "http_method": "PUT",
            "action_title": "Make private",
            "applicability": "private list"
        },
        "merge_convos": {
            "endpoint": "{% url 'merge-convos-action' %}",
            "http_method": "POST",
            "action_title": "Merge convos",
            "applicability": "private list"
        },
        "activate_convo": {
            "endpoint": "{% url 'activate-convo' %}",
            "http_method": "PUT"
        },
    }

    const checkMarkSymbol = "{% static 'quizbot/check-mark.svg' %}";
    const crossSymbol = "{% static 'quizbot/cross-symbol.svg' %}";
</script>

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-* navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'users/qary-logo/qary-logo-small.png' %}" height="30" alt="qary"
                        loading="lazy" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-right" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'users-home' %}">Home</a>
                        <a class="nav-item nav-link" href="{% url 'users-about' %}">About</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        {% if user.is_authenticated and user.password %}
                        <a class="nav-item nav-link" href="{% url 'quizbot-upload' %}">Document Upload</a>
                        <a class="nav-item nav-link" href="{% url 'spreadsheet-upload' %}">Spreadsheet Upload</a>
                        <!-- <a class="nav-item nav-link" href="{% url 'quiz' %}">BotPreview</a> -->
                        <a class="nav-item nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                        <a class="nav-item nav-link" href="{% url 'bothub' %}">ConvoHub</a>
                        <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                        <a class="nav-item nav-link" href="{% url 'bothub' %}">ConvoHub</a>
                        <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% if messages %}
                <div style="width: 80%; margin: auto;">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>

    {% block javascript %}{% endblock %}

    <!-- Bootstrap Bundle -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>