{% extends "users/base.html" %}
{% load static %}


{% block qary %}
{% include 'users/polyface.html' %}
{% endblock qary %}

{% block content %}
<div class="container">
    <h1> Qary's proactive side </h1>

    <p> Nudging humans to be more prosocial and productive </p>

    <h1> {{ section.title }} </h1>

    {% for nudge in nudge_list %}
    <h2>
        <a href="{{ nudge.get_absolute_url }}">
            {{ nudge.name }}
        </a>
    </h2>
    <p>{{ nudge.description|truncatewords:"60" }}</p>
    {% endfor %}
</div>
{% endblock content %}
</div>