{% extends "users/base.html" %}

{% block content %}
<div class="container">
    <div class="alert alert-info">
        Your password has been reset successfully.
    </div>
    <a href="{% url 'login' %}">Sign In Here</a>
</div>
{% endblock content %}